<ion-header>
  <ion-toolbar>
    <ion-title>
      Mais bem avaliados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let filme of listaFilmes">

    <ion-item>
      <h2>{{filme.title}}</h2>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w500'+filme.backdrop_path">

    <ion-card-content>
      <p>{{filme.overview}}</p>
    </ion-card-content>

  </ion-card>

</ion-content>
