<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabCartaz">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Cartaz</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabPopular">
      <ion-icon name="flame" color="danger"></ion-icon>
      <ion-label>Populares</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabTop">
      <ion-icon name="star"></ion-icon>
      <ion-label>Top</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>